@charset "utf-8";
/* CSS Document */

html
{
	/*background:url(../images/greySmoke.png) center fixed no-repeat;
	background-size:100%;*/
	background-color:#D2D2D2;
	background:url(../images/glassware.png) no-repeat fixed;
	background-size:100%;
}

p
{
	font-family:Oswald;
	text-align:center;
	text-shadow: 1px 1px white;
}

h1
{
	font-family:Lobster;
 	/*border-style:solid;
 	border-width:medium;
 	border-color:#060;
 	background-color:#006;*/
 	Opacity: .9;<!--makes thingy fade out-->
 	filter: alpha(opacity=80);
 	text-align: center;
 	width:50%;
 	margin-left:auto;
 	margin-right:auto;
 	letter-spacing:5px;
	font-stretch:expanded;
	zoom:3;
	font-size:3.5em;
	color:#333;
	text-shadow:1px 1px white;
}

h3
{
	font-family:Lobster;
	text-align:center;
	width:30%;
	margin-right:auto;
	margin-left:auto;
	letter-spacing:3px;
	font-size:2em;
	color:#333;
	text-shadow:1px 1px white;
}

#content
{
}

#teamList
{
	width:40%;
	margin-left:28%;
	padding:0;
}

#storeFront
{
	width:60%;
	height:20%;
	margin-left:20%;
	margin-right:auto;
	margin-bottom:2%;
	margin-top:2%;
}

#products
{
	width:60%;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	
}

#products ul
{
	float:left;
	margin-left:15%;
	margin-right:0;
}

.listItem
{
	font-family:Oswald;
	list-style:none;
	margin-left:10%;
	margin-right:0;
	margin-bottom:5px;
	text-transform:uppercase;
	color:#333;
	font-weight:bolder;
	text-align:center;
	text-shadow: 1px 1px #CCCCCC;
	letter-spacing:2px;
}

#title
{
	margin-top:5%;
	margin-left:32%;
	margin-right:auto;
	text-shadow: 1px 1px #CCCCCC;
}

#products p
{
	display:inline-block;
	margin:10px;
	font-family:Oswald;
	color:#333;
	font-size:36px;
}

.shortLine
{
	width:10%;
	height:5px;
	display:inline-block;
	color:#CCCCCC;
	background-color:#333;
}
